
            <header class='dashboard-toolbar'>
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>

                <a class="navbar-brand" style=" font-weight: 600; font-size: 25px; color: #333 !important; ">National Board of Revenue</a>
                <div class="d-flex container-fluid">
                    <div class="p-2 ms-auto">
                        <button type="button" class="btn btn-outline-success"><i class="fa-light fa-user"></i> <span  th:if="${loggedpersonname}" th:text="${loggedpersonname}"></span></button>
                    </div>
                    <div class="p-2"><a href="/currencyadmin/logout" type="button" class="btn btn-outline-danger"><i class="fa-regular fa-power-off"></i></a></div>
                    <!-- <div class="p-2 bg-primary">Flex item 3</div> -->
                </div>

            
            
            </header>

