<div class="dashboard-nav">
    <header>
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <a href="#" class="brand-logo"><img th:src="@{/img/logo/bdlogo.png}"
                alt="ERP Logo" width="100%"></a>
    </header>

    <nav class="dashboard-nav-list">
        <a href="#" class="dashboard-nav-item active"><i
                class="fas fa-tachometer-alt"></i> Baggage & Currency Module
        </a>
        <a href="#" class="dashboard-nav-item active"><i
                class="fas fa-tachometer-alt"></i> dashboard
        </a>
        <div class='dashboard-nav-dropdown'><a href="#!"
                class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fa-solid fa-suitcase-rolling"></i>Baggage Module</a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="/baggagestart/show" class="dashboard-nav-dropdown-item">Baggage Info Entry</a>
                <a href="/baggageshow/baggageApplicationShow" class="dashboard-nav-dropdown-item">Baggage Information Edit</a>
                <a href="#"
                    class="dashboard-nav-dropdown-item">All Customer</a>
                <a href="#"
                    class="dashboard-nav-dropdown-item">Non-subscribed</a>
                <a href="#"
                    class="dashboard-nav-dropdown-item">Banned</a><a href="#"
                    class="dashboard-nav-dropdown-item">New Customer</a></div>
        </div>
        <div class='dashboard-nav-dropdown'><a href="#!"
                class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                    class="fas fa-photo-video"></i> ToTal Unapproved Currency</a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="/currencystart/showunapprovedcurrency"
                    class="dashboard-nav-dropdown-item">ToTal Unapproved
                    Currency</a>
                <a href="#" class="dashboard-nav-dropdown-item">Baggage All</a>
                <a href="#" class="dashboard-nav-dropdown-item">Images</a>
                <a href="#" class="dashboard-nav-dropdown-item">Video</a>
            </div>
        </div>

        <div class='dashboard-nav-dropdown'><a href="#!"
                class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                    class="fas fa-money-check-alt"></i> Payments </a>
            <div class='dashboard-nav-dropdown-menu'><a href="#"
                    class="dashboard-nav-dropdown-item">All</a><a href="#"
                    class="dashboard-nav-dropdown-item">Recent</a><a href="#"
                    class="dashboard-nav-dropdown-item">
                    Projections</a>
            </div>
        </div>
        <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i>
            Settings </a><a href="#"
            class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
        <div class="nav-item-divider"></div>
        <a href="/logout" class="dashboard-nav-item"><i
                class="fas fa-sign-out-alt"></i> Logout </a>
    </nav>
</div>