<!-- <link rel="stylesheet" th:href="@{/css/bootstrap@5.0.2.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" /> -->
<style>
    .itemnav {
    font-family: 'Helvetica Neue', 'Nunito', sans-serif;
    background: #373942;
    padding: 13px 15px 12px;
    border-top: 2px solid #0401012e;
    
}
/* .boxbox{
    border: 1px solid #272727;
    background-color: #7c8aff;
    font-size: 15px;
    font-weight: bold;
    color: black !important;
}
.boxboxdown{
    border: 1px solid #272727;
    background-color: #bec5ff;
    font-size: 15px;
    font-weight: bold;
    color: black !important;

} */
</style>

<div class="dashboard-nav">
    <header style="background-color: white;">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <!-- <a href="#" class="brand-logo"> -->
                <div style="padding: 5px; text-align: center; margin-bottom: 5px;">
                    <img th:src="@{/img/logo/bdlogo.png}"
                alt="ERP Logo" width="70%"></a>
                    </div>
    </header>

    <nav class="dashboard-nav-list">
        <!-- <a href="#" class="dashboard-nav-item active" ><i
                class="fas fa-tachometer-alt"></i> Baggage & Currency Module
        </a> -->
        <h1 id="title_text" style="background: #0270b9; width: 100%; color: white; text-align:center; font-size:18px; margin:0px; margin-bottom:1px; padding: 10px 0px;">Baggage & Currency Module</h1>
        <a href="/dashboard#" class="dashboard-nav-item active boxbox"><i
                class="fas fa-tachometer-alt"></i> Dashboard
        </a>

        <div class='dashboard-nav-dropdown' th:if="${session['IsBaggage'] == 1}">
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle boxbox"><i class="fa-solid fa-suitcase-rolling"></i>Baggage Module</a>
            <div class='dashboard-nav-dropdown-menu'>
                <!-- <a href="/baggagestart/show" class="dashboard-nav-dropdown-item boxboxdown">→ Baggage Info Entry</a> -->
                <a href="/baggageshow/baggageApplicationShow" class="dashboard-nav-dropdown-item boxboxdown">→ Baggage Information Edit</a>
                <a href="/baggageshow/unapprovedbaggagetotal" class="dashboard-nav-dropdown-item boxboxdown">→ Total Unapproved
                    Baggage</a>
               
            </div>
        </div>

        <!-- <div class='dashboard-nav-dropdown' th:if="${session['IsCurrency'] == 1}"><a href="#!"
                class="dashboard-nav-item dashboard-nav-dropdown-toggle boxbox"><i class="fas fa-2x  fa-donate"></i>  Currency Module</a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="/currencystart/show"
                    class="dashboard-nav-dropdown-item boxboxdown"> → Currency Info Entry</a>
                    <a href="/currencystart/currencyadminedit"
                    class="dashboard-nav-dropdown-item boxboxdown"> → Currency Information Edit</a>
                <a href="/currencystart/showunapprovedcurrency"
                    class="dashboard-nav-dropdown-item boxboxdown"> → Total Unapproved
                    Currency</a>
            </div>
        </div> -->

        <div class='' th:if="${session['IsBaggage'] == 1}"><a href="/baggageshow/baggageReport"
            class="dashboard-nav-item  boxbox"><i class="fa-solid fa-suitcase"></i>Baggage Report</a>
        </div>

        <div class='dashboard-nav-dropdown' th:if="${session['IsMatrix'] == 1}"><a href="#!"
                class="dashboard-nav-item dashboard-nav-dropdown-toggle boxbox" ><i class="fa-regular fa-users"></i></i>User Matrix</a>
                <!-- <p th:if="${session['matrix'] == 0}" th:text="${session['matrix']}"></p> -->
            <div class='dashboard-nav-dropdown-menu'>
                <a href="/usermatrix/dashboard"
                    class="dashboard-nav-dropdown-item boxboxdown"> → User Dashboard</a>
                <a href="/usermatrix/rollcreate"
                    class="dashboard-nav-dropdown-item boxboxdown"> → Roll Create</a>
                    <a href="/usermatrix/rollmanage"
                    class="dashboard-nav-dropdown-item boxboxdown"> → Roll Manage</a>
            </div>
        </div>



        <a href="/payment-record" class="dashboard-nav-item boxbox" th:if="${session['IspaymentRecord'] == 1}"><i class="far fa-money-bill-alt"></i>Payment Record </a>
        <!-- <a href="/baggagestart/payment-history-report" class="dashboard-nav-item boxbox"><i class="far fa-money-bill-alt"></i>Payment History </a> -->
        <a href="/add-airport"class="dashboard-nav-item boxbox" th:if="${session['Isport'] == 1}"><i class="fas fa-plane"></i> Port </a>
        <!-- <div class="nav-item-divider"></div> -->


        <a href="/payment-total-history" class="dashboard-nav-item boxbox"><i class="fa-regular fa-clipboard" th:if="${session['IspaymentHistory'] == 1}"></i><i class="fa-solid fa-money-check-dollar"></i>Payment History </a>
        <!-- <a href="/baggagestart/payment-history" class="dashboard-nav-item boxbox"><i class="far fa-money-bill-alt"></i>Payment History </a> -->
        <!-- <a href="/add-airport"class="dashboard-nav-item boxbox"><i class="fas fa-plane"></i> Port </a> -->
        <!-- <div class="nav-item-divider"></div> -->





        <a href="#" class="dashboard-nav-item boxbox"><i class="fas fa-cogs"></i>
            Settings </a><a href="#"
            class="dashboard-nav-item boxbox"><i class="fas fa-user"></i> Profile </a>
        <div class="nav-item-divider"></div>



        <a href="/logout" class="dashboard-nav-item boxbox" style="background-color: red; color: white;"><i
                class="fas fa-sign-out-alt"></i> Logout </a>
    </nav>
</div>


<!-- jquary 3.7.1 js -->
<script th:src="@{/js/jquery.3.7.1.min.js}"></script>

<!-- bootstrap 5.0.2 js -->
<script th:src="@{/js/bootstrap@5.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap@5.0.2.bundle.min.js}"></script>

<!-- popper js -->
<script th:src="@{/js/popper@2.9.2.min.js}"></script>

<!-- custom js -->
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/currencyAjax.js}"></script>
<script th:src="@{/js/baggageAjax.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>