<div th:replace="~{layout/header}"></div>
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title fw-bold mb-5 text-warning">User Management</h3>

            <form action="#" method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">User Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <label for="fname" class="col-sm-2 col-form-label">Full Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <label for="designation" class="col-sm-2 col-form-label">Designation:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="designation" name="designation">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">Status:</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="status" name="status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>

                    <label for="level" class="col-sm-2 col-form-label">Level:</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="level" name="level">
                            <option value="1">Viewer</option>
                            <option value="2">Purchase Officer</option>
                            <option value="3">HRM Manager</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expire_date" class="col-sm-2 col-form-label">Expire Date:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="expire_date" name="expire_date">
                    </div>

                    <label for="employee_id" class="col-sm-2 col-form-label">Employee ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="employee_id" name="employee_id">
                    </div>
                </div>

                <div class="form-group row">
                    <!-- <label for="file" class="col-sm-2 col-form-label">Upload File:</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div> -->

                    <label for="project_name" class="col-sm-2 col-form-label">Airport Name:</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="project_name" name="project_name">
                            <option value="1">All</option>
                            <option value="2">Hazrat Shahjalal International Airport(Dhaka)</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2 text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<div th:replace="~{layout/footer}"></div>
