<div th:replace="~{layout/support}"></div>

<div>
    <!-- Other content in the support fragment -->
    <h3 class="text-center fw-bold text-danger ">View Goods List on Baggage Rule</h3>
    <p class="text-center mb-0"><img src="/img/image/baggage-2.PNG" alt="First Image"></p>
    <p class="text-center mt-0"><img src="/img/image/baggage-2.1.PNG" alt="Second Image"></p>
    <p class="text-center mb-0"><img src="/img/image/baggage-3.PNG" alt="3rd Image"></p>
    <p class="text-center mt-0"><img src="/img/image/baggage-3.1.PNG" alt="4th Image"></p>
</div>

<div th:replace="~{layout/footer}"></div>