
<div th:replace="~{layout/header}"></div>
    <title>Baggage Info Edit</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <style>
        .sr-main-content {
            background-color: #ededf4;
            font-family: Roboto, Helvetica, sans-serif !important;
        }
        .sr-main-content-padding {
            background: white;
            padding: 10px 20px;
            border: 1px solid #e6e9ed;
            border-radius: 5px;
        }
        .sr-main-content-heading {
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-weight: 500;
            color: #555369;
        }
        .fa, .fas {
            font-weight: 900;
        }
        #example thead {
            background-color: #49be78;
            color: white;
        }
    </style>
</head>
<body>
<div class="sr-main-content-padding">
    <div class="sr-main-content-heading">
        <i class="fa fa-server" style="padding-right: 10px"></i>Baggage Info Edit
    </div>
    <div>
        <div class="d-flex my-5">
            <label for="fromDate">From:</label>
            <input class="form-control" type="date" id="fromDate" name="fromDate" >
            <label for="toDate" >To:</label>
            <input class="form-control" type="date" id="toDate" name="toDate" >
            <button type="button" class="btn btn-warning ml-2" id="filterButton">Apply Filter</button>
        </div>
        <table id="example" class="display" width="100%"></table>
    </div>
</div>
<script>
    let dataTable;

    // Function to fetch data from the API and populate the table
    function fetchDataAndPopulateTable() {
        // Fetch data from the API
        $.ajax({
            url: 'http://localhost:8080/baggageshow/baggageApplicationEdit',
            type: 'GET',
            dataType: 'json',
            success: function (apiResponse) {
                // Map the API response to the DataTable columns
                const dataSet = apiResponse.map((record) => [
                    record.payment_id,
                    record.passenger_name,
                    record.payment_status,     
                    record.dateofarrival,
                    record.nationality,
                    record.passport_number,
                    record.status,
                    `<a href="/baggagestart/edit-baggage?generatedId=${record.id}" class="btn btn-primary">Edit</a>`,
                ]);

                if (dataTable) {
                    // Destroy the existing DataTable to reinitialize it with updated data
                    dataTable.destroy();
                }

                dataTable = $('#example').DataTable({
                    columns: [
                        { title: 'Payment Id' },
                        { title: 'Passenger Name' },
                        { title: 'Payment Status' },
                        { title: 'Apply Date' },
                       
                        { title: 'Nationality' },
                        { title: 'Passport No' },
                        { title: 'Baggage Status' },
                        { title: 'Action' },
                    ],
                    data: dataSet,
                });
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            },
        });
    }

   //filter date function 
    $(document).ready(function () {
        fetchDataAndPopulateTable();

        $('#filterButton').on('click', function () {
            const fromDate = $('#fromDate').val();
            const toDate = $('#toDate').val();

            dataTable.columns(3).search(fromDate + '|' + toDate, true, false);

            dataTable.draw();
        });
    });
</script>

