<div th:replace="~{layout/support}"></div>

<style>
    .button-container {
    display: inline-block; /* Display the containers inline to place the buttons side by side */
    margin-right: 10px; /* Add some spacing between the buttons */
    text-align: right;
}

</style>

<div class="container-fluid" style="background: white;">
    <div class="logo d-flex justify-content-center">
        <img src="/img/logo/nbr.png" alt="nbr_logo">

    </div>

    <div class="container">
        <div class="d-flex gap-2 py-3">
            <button type="button" class="btn btn-primary print-button" onclick="printPage()">Print</button>
        <a href="/dashboard"><button type="button" class="btn btn-primary print-button" >Go Back</button></a>
        </div>
        <table>
            <tbody th:object="${baggageView}">
                <input type="hidden" id="baggageid" name="id" th:value="${baggageView['ID']}" />
                <tr>
                    <td><span class="fw-bold">Name of the Passenger: </span><span th:text="${baggageView['passenger_name']}"></span></td>
                </tr>

                <tr>
                    <td><span class="fw-bold">Payment Id: </span><span th:text="${baggageView['payment_id']}"></span></td>
                </tr>

                <tr>
                   <td><span><span class="fw-bold">Entry Point: </span><span th:text="${baggageView['entry_point']}"></span></span></td>
                </tr>

                <tr>
                    <td><span class="fw-bold">Passport Number: </span><span th:text="${baggageView['passport_number']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Passport Validity Date: </span><span th:text="${baggageView['passport_validity_date']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Nationality: </span><span th:text="${baggageView['nationality']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Country from where comming: </span><span th:text="${baggageView['previous_country']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Date Of Arrival: </span><span th:text="${baggageView['dateofarrival']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Flight No: </span><span th:text="${baggageView['flight_no']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Mobile No: </span><span th:text="${baggageView['mobile_no']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Email: </span><span th:text="${baggageView['email']}"></span></td>
                </tr>
                <tr> 
                    <td><span class="fw-bold">Accompanied: </span><span th:text="${baggageView['accom_no']}"></span></td>
                </tr>
                <tr>
                    <td><span class="fw-bold">Un-Accompanied: </span><span th:text="${baggageView['unaccom_no']}"></span></td>
                </tr>


                <tr>
                    <td><span class="fw-bold">Payment Status: </span><span th:text="${baggageView['payment_status']}"></span></td>
                </tr> 
                
            </tbody>
        </table>
         <!-- table 2nd start -->
         <table id="ajaxtable"
         class="table table-bordered mt-5" style="zoom: 80%;">
         <thead style="background-color: rgba(96, 204, 69, 0.952);">
             <tr>
                
                 <th scope="col">Product Name</th>
                 <th scope="col">Unit</th>
                 <th scope="col">Inchi(For Telivision)</th>
                 <th scope="col">Quantity</th>
                 <th scope="col">Value</th>
                 <th scope="col">Tax(%)</th>
                 <th scope="col">Tax Amount</th>
                 <th scope="col">Additional payment</th>
             </tr>
         </thead>
         <tbody >

           <tr th:each="reportShow : ${showProduct}">
                 
                 <td th:text="${reportShow['item_name']}"></td>
                 <td th:text="${reportShow['unit_name']}"></td>
                 <td th:text="${reportShow['inchi']}"></td>
                 <td th:text="${reportShow['qty']}"></td>
                 <td th:text="${reportShow['value']}"></td>
                 <td th:text="${reportShow['tax_percentage']}"></td>
                 <td class="tax-amount" th:text="${reportShow['tax_amount']}"></td>
                 <td class="tax-amount" th:text="${reportShow['additional_payment']}"></td>
             </tr> 

             <tr>
                     <td colspan="6" class="text-end"> Total Tax Amount</td>
                     <td colspan="2">
                         <span id="totalTaxAmount"></span>
                     </td>
                 </td>
                 </tr>
                
         </tbody>
     </table>

     <div class="d-flex justify-content-center" id="qrcode"></div>

        <div style="text-align: right; margin-right: 30px;">
            <div class="button-container" >
                <a id="editDiv" th:href="@{/baggagestart/edit-baggage(generatedId=${baggageView.ID})}" class="btn btn-primary print-button">Edit</a>
            </div>
            <div class="button-container">
                <div th:if="${baggageView['status'] != 'approved'}">
                    <button id="toggleButton" onclick="showDiv()" class="btn btn-success print-button">Approved</button>
                </div>
            </div>
            <!-- <div class="button-container" >
                    <button id="hideDiv" onclick="examshow()" class="btn btn-warning print-button">On Examination</button>
            </div> -->
            <!-- <div class="button-container">
                <div th:if="${baggageView['status'] != 'rejected'}">
                    <button id="toggleButton1" onclick="showDiv1()" class="btn btn-danger print-button">Rejected</button>
                </div>
            </div> -->

        </div>
        <br><br><br>

    </div>

    <div class="d-flex row col-md-12" style="margin-top: 10px;" th:object="${baggageView}">

        <div id="welcomeDiv3" style="display:none;">

            <div style="display:flex; justify-content: right; margin-right: 165px; margin-top: -95px;">
                <form th:action="@{/baggagestart/baggage_on_examination_update}"  method="post" id="myForm">
                    <div class="input-group">
                        <div class="">
                            <input th:value="${baggageView['id']}" type="hidden" name="id">
                            <input th:value="${page_route}" type="hidden" name="page_route">
                            <input th:value="OnExamination" type="hidden" name="status">
                            <label style="font-weight: bold;" for="confNote" class="form-label" >Give the Reason of On Examination</label>
                            <select name="confNote" class="form-control" id="confNote">
                                <option value="">---Couse of on Examination----</option>
                                <option value="Found Mobile">Found Mobile </option>
                                <option value="Found Gold">Found Gold</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="input-group">
                            <button style="margin-top: 15px;" type="submit" class="btn btn-warning ">On Examination</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>


        <div id="welcomeDiv1" style="display:none;">
            <div style="display:flex; justify-content: right; margin-right: 165px; margin-top: -95px;">
            <form th:action="@{/baggagestart/baggage_reject_update}"  method="post" id="myForm">
                <div class="input-group">
                    <div class="">
                        <input th:value="${baggageView['id']}" type="hidden" name="id">
                        <input th:value="${page_route}" type="hidden" name="page_route">
                        <input th:value="rejected" type="hidden" name="status">
                        <label style="font-weight: bold;" for="confNote" class="form-label" >Give the Reason of Rejection</label>
                        <select name="confNote" class="form-control" id="confNote">
                            <option value="">---Reason of the Rejection----</option>
                            <option value="Misdeclaration">Misdeclaration </option>
                            <option value="Restricted item">Restricted item</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="input-group">
                        <button style="margin-top: 15px;" type="submit" class="btn btn-danger ">Rejected</button>
                    </div>
                </div>
                <br><br><br>
            </form>
            </div>
        </div>

        <div  id="welcomeDiv"  style="display:none;">
                <div style="display:flex; justify-content: right; margin-right: 165px; margin-top: -95px;">
                <form th:action="@{/baggagestart/baggage_approve_update}"  method="post" id="myForm">
                    <div class="input-group">
                        <input th:value="${baggageView['id']}" type="hidden" name="id">
                        <input th:value="${page_route}" type="hidden" name="page_route">
                        <input th:value="approved" type="hidden" name="status">
                        <textarea name="confNote" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your comment" rows="2" style="width:100%; display: none;"></textarea>
                        <p style="font-weight: bold;">Are you confirm ??</p>
                    </div>
                    <div class="col-md-4 ">
                        <div class="input-group">
                            <button type="submit" class="btn btn-success ">Approved</button>
                        </div>
                    </div>
                    <br><br><br>
                </form>
                </div>
        </div>
        
    </div>
</div>
  

      

     <script>
function paymentReview(){
    var id = document.getElementById("baggageid").value;
    var url = "/baggageshow/payment-review?id=" + id;
    window.location.href = url;
}

function qrcode() {
          console.log("fahim");
            // Get the current page's URL
            var currentURL = window.location.href;

            // Generate the QR code using an online service (qr.js)
            var qrCodeUrl = "https://api.qrserver.com/v1/create-qr-code/?data=" + encodeURIComponent(currentURL) + "&size=128x128";
            
            // Display the QR code image
            $("#qrcode").html('<img src="' + qrCodeUrl + '" alt="QR Code" />');
        };


function showDiv1() {
    var buttonIds = ["toggleButton1", "hideDiv", "toggleButton","editDiv"];

    // Hide each button
    buttonIds.forEach(function(buttonId) {
        var button = document.getElementById(buttonId);
        if (button) {
            button.style.display = "none";
        }
    });

    document.getElementById('welcomeDiv1').style.display = "block";
}

function showDiv() {
        var buttonIds = ["toggleButton1", "hideDiv", "toggleButton","editDiv"];

    // Hide each button
    buttonIds.forEach(function(buttonId) {
        var button = document.getElementById(buttonId);
        if (button) {
            button.style.display = "none";
        }
    });
    document.getElementById('welcomeDiv').style.display = "block";

}

function examshow() {
    // Array of button IDs to hide
    var buttonIds = ["toggleButton1", "hideDiv", "toggleButton","editDiv"];

    // Hide each button
    buttonIds.forEach(function(buttonId) {
        var button = document.getElementById(buttonId);
        if (button) {
            button.style.display = "none";
        }
    });

    // Show the examination div
    document.getElementById('welcomeDiv3').style.display = 'block';
}


function qrcode() {
            // Get the current page's URL
            var currentURL = window.location.href;

            // Generate the QR code using an online service (qr.js)
            var qrCodeUrl = "https://api.qrserver.com/v1/create-qr-code/?data=" + encodeURIComponent(currentURL) + "&size=128x128";
            
            // Display the QR code image
            $("#qrcode").html('<img src="' + qrCodeUrl + '" alt="QR Code" />');
        };

        function calculateTotalTaxAmount() {
            // Get all the tax amount elements using a class selector
            var taxAmountElements = document.querySelectorAll(".tax-amount");
    
            // Initialize a variable to store the total tax amount
            var totalTaxAmount = 0;
    
            // Iterate through each tax amount element
            taxAmountElements.forEach(function (element) {
                // Parse the text content of the element to a floating-point number
                var taxAmount = parseFloat(element.textContent);
    
                totalTaxAmount += taxAmount;
            });
    
            // Set the calculated total tax amount in the totalTaxAmount span
            document.getElementById("totalTaxAmount").textContent = totalTaxAmount.toFixed(2);
        }
    
        // Call the function when the page loads
        window.addEventListener("load", calculateTotalTaxAmount);

             
        function printPage() {
        // Select all elements with the class "print-button"
        var printButtons = document.querySelectorAll(".print-button");

        // Hide the print buttons before printing
        for (var i = 0; i < printButtons.length; i++) {
            printButtons[i].style.display = "none";
        }

        // Add an event listener for the afterprint event
        window.addEventListener('afterprint', function () {
            // Show the print buttons when the print dialog is closed
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = "block";
            }
        });

        // Print the content of the page
        window.print();
    }
    window.onload = qrcode;
    </script>
     


</div>

<div th:replace="~{layout/footer}"></div>