<div th:replace="~{layout/support}"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet" >

<style>
    .sr-main-content-heading {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      color: #48465b;
      margin-bottom: 20px;
      text-align: center;
    }
</style>

<span id="print_id" >
    <a href="/dashboard"><input type="button" class="btn btn-success btn-sm" value="Go Back" id="go_back" style="margin: 20px !important;"></a>
</span>
<div class="sr-main-content-heading">
    <i class="fa fa-server" style="padding-right: 10px"></i>Unapproved
    Currency Application
  </div>
<table id="example" class="table table-striped " style="zoom: 70%;">
    <thead>
        <tr>
            <th>sl</th>
            <th>Apply Date</th>
            <th>Passenger name</th>
            <th>Nationality</th>
            <th>Passport No</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody >

        <tr th:each="show,sl : ${unapproveCurrency}" th:object="${'unapproveCurrency'}">
            
            <td th:text="${sl.count}"></td>
            <td th:text="${show.entryAt}"></td>
            <td th:text="${show.passengerName}"></td>
            <td th:text="${show.nationality}"></td>
            <td th:text="${show.passportNumber}"></td>
            <td >
                <a th:href="@{/currencystart/show-unapprove-currency-details(id=${show.id})}">View Application</a>

            </td>
        </tr>



 
    </tbody>
    <tfoot>
        <tr>
            <th>sl</th>
            <th>Apply Date</th>
            <th>Passenger name</th>
            <th>Nationality</th>
            <th>Passport No</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js'></script>


<script>
    $(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );

</script>