<div th:replace="~{layout/support}"></div>


<style type="text/css">
    @media print {
        .brack { page-break-after: always; }
    }

    #pr input[type="button"] {
        width: 70px;
        height: 25px;
        background-color: #ebfffa;
        color: #333;
        font-weight: bolder;
        border-radius: 5px;
        border: 1px solid #333;
        cursor: pointer;
    }
    .p1 {
        margin: 0px;
        line-height: 1.5;
    }
    .p {
        margin: 0px;
        line-height: 1.5;
    }
    .pt {
        padding-top: 30px;
    }
    .b {
        font-weight: bold;
    }
    .ft-35 {
        font-size: 35px;
    }
    .ft-34 {
        font-size: 34px;
    }
    .ft-33 {
        font-size: 33px;
    }
    .ft-32 {
        font-size: 32px;
    }
    .ft-31 {
        font-size: 31px;
    }
    .ft-30 {
        font-size: 30px;
    }
    .ft-29 {
        font-size: 29px;
    }
    .ft-25 {
        font-size: 25px;
    }
    .ft-24 {
        font-size: 24px;
    }
    .ft-23 {
        font-size: 23px;
    }
    .ft-22 {
        font-size: 22px;
    }
    .ft-20 {
        font-size: 20px;
    }
    .ft-19 {
        font-size: 19px;
    }
    .ft-18 {
        font-size: 18px;
    }
    .ft-14 {
        font-size: 14px;
    }
</style>
</head>
<body style="font-family: Tahoma, Geneva, sans-serif; background-color: white !important;">

<div class="page_brack" >

    <span id="print_id">
        <input type="button" class="btn btn-success btn-sm" value="printwwwww" id="print_btn" onClick="custom_print()">
        <a href=""><input type="button" class="btn btn-success btn-sm" value="Go Back" id="go_back" redirectToHomePage()></a>
    </span>

    <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center">

        <thead style="width:100%">
        <tr>
            <td colspan="8" ‍align="center">
                <p class="p b ft-30" align="center" style="margin-right:-30%;">বৈদেশিক মুদ্রা ঘোষণা ফরম</p>
                <p class="p ft-25" align="center" style="margin-right:-30%;">(Foreign Exchange Declaration Form)</p>
            </td>

            <td colspan="4">
                <div align="center" style="border:1px solid #333; padding-top:5px; padding-bottom:5px; font-size:16px;">
                    <P class="p b" style="font-size:15px;"> এফএমজে ফরম</P>
                    <p class="p b" style="font-size:15px;">FMJ FORM</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12"> &nbsp</td>
        </tr>
        <tr> 
        <td colspan="12">
            <p class="p b" align="center"> (১৯৪৭ সালের বৈদেশিক মুদ্রা নিয়ন্ত্রণ আইন এর ৮(১) ধারা অনুযায়ী বাংলাদেশ ব্যাংক কর্তৃক প্রবর্তিত)</p>
            <p class="p" align="center">(Prescribed by Bangladesh Bank under Section 8(I) of the Foreign Exchange Regulation Act, 1947)</p>
        </td>

        </tr>
        </thead>
        <tbody  th:object="${Currency}">
            <input th:value="${Currency.id}" type="hidden">
            <tr>
                <td colspan="12"> &nbsp</td>
            </tr>
            <tr> 
                <td colspan="12">
                    <p class="p b" align="left"> এই ফরমটি বাংলাদেশের আগমনকারী ব্যক্তি কর্তৃক পুরণ করিতে হইবে।</p>
                    <p class="p" align="left"> This form is to be filled in by a person entering Bangladesh. </p>
                </td>

            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">পূর্ণ নামঃ</p>
                    <p class="p" align="left" >(Full Name): <span th:text="${Currency.passengerName}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">জাতীয়তাঃ</p>
                    <p class="p" align="left">(Nationality): <span th:text="${Currency.nationality}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">পাসপের্ট নংঃ</p>
                    <p class="p" align="left">(Passport No): <span th:text="${Currency.passportNumber}"></span></p>
                </td>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">ইস্যুর তারিখঃ</p>
                    <p class="p" align="left">(Date of Issue): <span th:text="${Currency.passportIssueDate}"></span></p>
                </td>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">ইস্যুর স্থানঃ</p>
                    <p class="p" align="left">(Place of Issue): <span th:text="${Currency.passportIssuePlace}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">আগমনের তারিখ ও সময়ঃ</p>
                    <p class="p" align="left">(Date & time of arrival):<span th:text="${Currency.dateOfArrival}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">ফ্লাইট নম্বরঃ</p>
                    <p class="p" align="left">(Flight No): <span th:text="${Currency.flightNo}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">বাংলাদেশে ঠিকানাঃ</p>
                    <p class="p" align="left">(Address in Bangladesh): <span th:text="${Currency.addressInBangladesh}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">বিদেশে আবস্থানের মেয়াদঃ</p>
                    <p class="p" align="left">(Duration of stay in abroad): <span th:text="${Currency.stayTimeAbroad}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">পেশাঃ</p>
                    <p class="p" align="left">(Profession): <span th:text="${Currency.nationality}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">যোগাযোগ নম্বরঃ</p>
                    <p class="p" align="left">(Contact No): <span th:text="${Currency.contactNo}"></span></p>
                </td>
            </tr>

        </tbody>

    </table>

    <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top:70px;" th:object="${Baggagecurrency}">
        <thead style="width:100%">
        <tr>
            <td colspan="12" ‍align="center" style="border-bottom:1px solid #333;">
                <p class="p b ft-20" align="center">ঘোষণা</p>
                <p class="p b ft-18" style=" padding-bottom:8px;" align="center">DECLARATION</p>
            </td>

        </tr>
        <tr> 
        <td colspan="12">
            <p class="p b" align="center" style="text-align:justify;">সঙ্গে আনীত নগদ বৈদেশিক মুদ্রা এরং হস্ত্রান্তরযোগ্য বাহকের দলিল (ড্রাফট, পে অর্ডার, ট্রাভেলার্স চেক প্রভৃতি) / Cash and negotiable bearer instruments in foreign currency (drafts, pay orders, traveler's cheques etc.) in:  </p>
        </td>

        </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="12"> 

                <table width="100%" border="1" cellspacing="0" cellpadding="0" align="center" >
                    <thead>
                        <tr>
                            <th>
                            <p class="p b" align="center" >
                            বৈদেশিক মুদ্রার বর্ণনা 
                            </p>
                            <p class="p1 b" align="center" >(Description of Currency)</p>
                            </th>
                            <th>
                            <p class="p1 b" align="center" >
                            পরিমাণ
                            </p>
                            <p class="p1 b" align="center" >(Amount) </p>
                            </th>
                            <th>
                            <p class="p1 b" align="center" >
                            কথায়
                            </p>
                            <p class="p1 b" align="center" >(In Words) </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody th:each="customer : ${Baggagecurrency}">
                        <tr>
                            <td th:text="${customer.currencyName}"> USD </td>
                            <td th:text="${customer.currencyAmount}">1000</td>
                            <td> One thousand dollars</td>
                        </tr>
                    </tbody>
                </table>

                </td>
            </tr>

            <tr>
                <td colspan="12"> &nbsp</td>
            </tr>

            <td colspan="12">
            <p class="p b" align="center"> আমি, নিম্নস্বাক্ষরকারী, এতদ্বারা প্রত্যয়ন করিতেছি যে,উপরে প্রদত্ত তথ্যসমূহ সঠিক। </p>
            <p class="p b" align="center">(I, the undersigned, hereby solemnly declare that the information given above is correct.)  </p>
            </td>

            <tr>
                <td colspan="6" class="pt">
                     
                     
                </td>
                <td colspan="6" class="pt">
                     
                     
                </td>
            </tr>
            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">[Signature of Customs Official]</p>
                    <p class="p" align="left">(Signature of Customs Official): </p>
                    <p class="p" align="left">[Date]</p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">[Signature of Declarant]</p>
                    <p class="p" align="left">Signature of Declarant:</p>
                    <p class="p" align="left">[Date]</p>
                </td>
            </tr>

        </tbody>

    </table>
    
    <p > </p>
    <div class="row" style="margin-top: 10px;"> 
        <div class="col-6 mx-auto">
          <div class="d-flex align-items-center justify-content-evenly" >
                <button id="toggleButton1" onclick="showDiv1()" class="btn btn-danger">Rejected</button>
          </div>
        </div>

        <div class="col-6 mx-auto">
            <div class="d-flex align-items-center justify-content-evenly">
                
                <button id="toggleButton" onclick="showDiv()" class="btn btn-success">Approved</button>
            </div>
        </div>

    </div>
    
    <div class="d-flex row col-md-12" style="margin-top: 10px;" th:object="${Currency}">
        <div class="d-inline-block col-md-6"> 
            <div class="container" id="welcomeDiv1"  style="display:none;">
                <form th:action="@{/currencystart/currency_unapprove_update}"  method="post" id="myForm">
                    <div class="input-group">
                        <div class="col-md-6">
                            <input th:value="${Currency.id}" type="hidden" name="id">
                            <input th:value="checked" type="hidden" name="status">
                            <textarea name="confNote" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your comment" rows="2" style="width:100%;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <button type="submit" class="btn btn-danger">Rejected</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-inline-block col-md-6"  > 
            <div class="container" id="welcomeDiv"  style="display:none;">
                <form th:action="@{/currencystart/currenc_approve_update}"  method="post" id="myForm">
                    <div class="input-group">
                        <div class="col-md-6">
                            <input th:value="${Currency.id}" type="hidden" name="id">
                            <input th:value="checked" type="hidden" name="status">
                            <textarea name="confNote" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your comment" rows="2" style="width:100%;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">Approved</button>
                        </div>
                    </div>
                </form>

              </div>
        </div>
    </div>
  
</div>


<script>
    function showDiv1() {
        document.getElementById('welcomeDiv1').style.display = "block";
        var button = document.getElementById("toggleButton1");
        button.style.display = "none";
    }

	function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";

   var button = document.getElementById("toggleButton");
    button.style.display = "none";
}
    function custom_print(){
    document.getElementById('print_id').style.display='none';
        window.print();
        document.getElementById('print_id').style.display='';
         
    }

    function redirectToHomePage() {
            
            // Get the id value from the hidden input field
            var id = document.getElementById("go_back").value;
            var url = "http://localhost:8080/currencystart/show";
            window.location.href = url;
        }
        
</script> 

<div th:replace="~{layout/footer}"></div>