<div th:replace="~{layout/support}"></div>

<style>
    .button-container {
    display: inline-block; /* Display the containers inline to place the buttons side by side */
    margin-right: 10px; /* Add some spacing between the buttons */
    text-align: right;
}
</style>

<style type="text/css">
    @media print {
        .brack { page-break-after: always; }
    }

    #pr input[type="button"] {
        width: 70px;
        height: 25px;
        background-color: #ebfffa;
        color: #333;
        font-weight: bolder;
        border-radius: 5px;
        border: 1px solid #333;
        cursor: pointer;
    }
    .p1 {
        margin: 0px;
        line-height: 1.5;
    }
    .p {
        margin: 0px;
        line-height: 1.5;
    }
    .pt {
        padding-top: 30px;
    }
    .b {
        font-weight: bold;
    }
    .ft-35 {
        font-size: 35px;
    }
    .ft-34 {
        font-size: 34px;
    }
    .ft-33 {
        font-size: 33px;
    }
    .ft-32 {
        font-size: 32px;
    }
    .ft-31 {
        font-size: 31px;
    }
    .ft-30 {
        font-size: 30px;
    }
    .ft-29 {
        font-size: 29px;
    }
    .ft-25 {
        font-size: 25px;
    }
    .ft-24 {
        font-size: 24px;
    }
    .ft-23 {
        font-size: 23px;
    }
    .ft-22 {
        font-size: 22px;
    }
    .ft-20 {
        font-size: 20px;
    }
    .ft-19 {
        font-size: 19px;
    }
    .ft-18 {
        font-size: 18px;
    }
    .ft-14 {
        font-size: 14px;
    }
</style>
</head>
<body style="font-family: Tahoma, Geneva, sans-serif; background-color: white !important;">

<div class="page_brack" >

    <div class="d-flex gap-2 py-3">
        <button type="button" class="btn btn-primary print-button" onclick="printPage()">Print</button>
    <a href="/baggagestart/show"><button type="button" class="btn btn-primary print-button" >Go Back</button></a>
    </div>

    <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center">

        <thead style="width:100%">
        <tr>
            <td colspan="8" ‍align="center">
                <p class="p b ft-30" align="center" style="margin-right:-30%;">বৈদেশিক মুদ্রা ঘোষণা ফরম</p>
                <p class="p ft-25" align="center" style="margin-right:-30%;">(Foreign Exchange Declaration Form)</p>
            </td>

            <td colspan="4">
                <div align="center" style="border:1px solid #333; padding-top:5px; padding-bottom:5px; font-size:16px;">
                    <P class="p b" style="font-size:15px;"> এফএমজে ফরম</P>
                    <p class="p b" style="font-size:15px;">FMJ FORM</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12"> &nbsp</td>
        </tr>
        <tr> 
        <td colspan="12">
            <p class="p b" align="center"> (১৯৪৭ সালের বৈদেশিক মুদ্রা নিয়ন্ত্রণ আইন এর ৮(১) ধারা অনুযায়ী বাংলাদেশ ব্যাংক কর্তৃক প্রবর্তিত)</p>
            <p class="p" align="center">(Prescribed by Bangladesh Bank under Section 8(I) of the Foreign Exchange Regulation Act, 1947)</p>
        </td>

        </tr>
        </thead>
        <tbody  th:object="${Currency}">
            <input th:value="${Currency.id}" id="currencyid" type="hidden">
            <tr>
                <td colspan="12"> &nbsp</td>
            </tr>
            <tr> 
                <td colspan="12">
                    <p class="p b" align="left"> এই ফরমটি বাংলাদেশের আগমনকারী ব্যক্তি কর্তৃক পুরণ করিতে হইবে।</p>
                    <p class="p" align="left"> This form is to be filled in by a person entering Bangladesh. </p>
                </td>

            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">পূর্ণ নামঃ</p>
                    <p class="p" align="left" >(Full Name): <span th:text="${Currency.passengerName}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">জাতীয়তাঃ</p>
                    <p class="p" align="left">(Nationality): <span th:text="${Currency.nationality}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">পাসপের্ট নংঃ</p>
                    <p class="p" align="left">(Passport No): <span th:text="${Currency.passportNumber}"></span></p>
                </td>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">ইস্যুর তারিখঃ</p>
                    <p class="p" align="left">(Date of Issue): <span th:text="${Currency.passportIssueDate}"></span></p>
                </td>
                <td colspan="4" class="pt">
                    <p class="p b" align="left">ইস্যুর স্থানঃ</p>
                    <p class="p" align="left">(Place of Issue): <span th:text="${Currency.passportIssuePlace}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">আগমনের তারিখ ও সময়ঃ</p>
                    <p class="p" align="left">(Date & time of arrival):<span th:text="${Currency.dateOfArrival}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">ফ্লাইট নম্বরঃ</p>
                    <p class="p" align="left">(Flight No): <span th:text="${Currency.flightNo}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">বাংলাদেশে ঠিকানাঃ</p>
                    <p class="p" align="left">(Address in Bangladesh): <span th:text="${Currency.addressInBangladesh}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">বিদেশে আবস্থানের মেয়াদঃ</p>
                    <p class="p" align="left">(Duration of stay in abroad): <span th:text="${Currency.stayTimeAbroad}"></span></p>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">পেশাঃ</p>
                    <p class="p" align="left">(Profession): <span th:text="${Currency.nationality}"></span></p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">যোগাযোগ নম্বরঃ</p>
                    <p class="p" align="left">(Contact No): <span th:text="${Currency.contactNo}"></span></p>
                </td>
            </tr>

        </tbody>

    </table>

    <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top:70px;" th:object="${Baggagecurrency}">
        <thead style="width:100%">
        <tr>
            <td colspan="12" ‍align="center" style="border-bottom:1px solid #333;">
                <p class="p b ft-20" align="center">ঘোষণা</p>
                <p class="p b ft-18" style=" padding-bottom:8px;" align="center">DECLARATION</p>
            </td>

        </tr>
        <tr> 
        <td colspan="12">
            <p class="p b" align="center" style="text-align:justify;">সঙ্গে আনীত নগদ বৈদেশিক মুদ্রা এরং হস্ত্রান্তরযোগ্য বাহকের দলিল (ড্রাফট, পে অর্ডার, ট্রাভেলার্স চেক প্রভৃতি) / Cash and negotiable bearer instruments in foreign currency (drafts, pay orders, traveler's cheques etc.) in:  </p>
        </td>

        </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="12"> 

                <table width="100%" border="1" cellspacing="0" cellpadding="0" align="center" >
                    <thead>
                        <tr>
                            <th>
                            <p class="p b" align="center" >
                            বৈদেশিক মুদ্রার বর্ণনা 
                            </p>
                            <p class="p1 b" align="center" >(Description of Currency)</p>
                            </th>
                            <th style="border: 1px solid black;">
                                <p class="p b" align="center" >
                                মুদ্রা নোটের ধরন 
                                </p>
                                <p class="p1 b" align="center" >(Currency Note Type)</p>
                            </th>
                            <th style="border: 1px solid black;">
                                <p class="p b" align="center" >
                                নোটের সংখ্যা 
                                </p>
                                <p class="p1 b" align="center" >(Number of Note)</p>
                            </th>
                            <th>
                            <p class="p1 b" align="center" >
                            পরিমাণ
                            </p>
                            <p class="p1 b" align="center" >(Amount) </p>
                            </th>
                            <th>
                            <p class="p1 b" align="center" >
                            কথায়
                            </p>
                            <p class="p1 b" align="center" >(In Words) </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody th:each="customer : ${Baggagecurrency}">
                        <tr>
                            <td style="border: 1px solid black; text-align: center;" th:text="${customer.currencyName}"> USD </td>
                            <td style="border: 1px solid black; text-align: center;" th:text="${customer.currencyNoteType}" > USD </td>
                            <td style="border: 1px solid black; text-align: center;" th:text="${customer.numberOfNote}"> USD </td>
                            <td style="border: 1px solid black; text-align: center;" th:text="${customer.currencyAmount}" class="currency-amount"> USD </td>
                            <td style="border: 1px solid black; text-align: center;" class="currency-words" ></td>
                        </tr>
                    </tbody>
                </table>

                </td>
            </tr>

            <tr>
                <td colspan="12"> &nbsp</td>
            </tr>

            <td colspan="12">
            <p class="p b" align="center"> আমি, নিম্নস্বাক্ষরকারী, এতদ্বারা প্রত্যয়ন করিতেছি যে,উপরে প্রদত্ত তথ্যসমূহ সঠিক। </p>
            <p class="p b" align="center">(I, the undersigned, hereby solemnly declare that the information given above is correct.)  </p>
            </td>

            <tr>
                <td colspan="6" class="pt">
                     
                     
                </td>
                <td colspan="6" class="pt">
                     
                     
                </td>
            </tr>
            <tr>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">[Signature of Customs Official]</p>
                    <p class="p" align="left">(Signature of Customs Official): </p>
                    <p class="p" align="left">[Date]</p>
                </td>
                <td colspan="6" class="pt">
                    <p class="p b" align="left">[Signature of Declarant]</p>
                    <p class="p" align="left">Signature of Declarant:</p>
                    <p class="p" align="left">[Date]</p>
                </td>
            </tr>

        </tbody>

    </table>
    
    <div class="d-flex justify-content-center mt-2 mb-5" id="qrcode"> </div>
    
 
 


        <div style="text-align: right; margin-right: 200px;">
            
            <div class="button-container">
                <div th:if="${Currency.status != 'checked'}">
                    <button id="toggleButton1" onclick="showDiv170()" class="btn btn-danger">Edit</button>
                </div>
            </div>
            <div class="button-container">
                <div th:if="${Currency.status != 'checked'}">
                    <button id="toggleButton" onclick="showDiv()" class="btn btn-success">Approved</button>
                </div>
            </div>
        </div>
        <br><br><br>

    </div>
    


    <div class="d-flex row col-md-12" style="margin-top: 10px;" th:object="${Currency}">
        <div id="welcomeDiv1" style="display:none;">
            <div style="display:flex; justify-content: right; margin-right: 165px; margin-top: -95px;">
            <form th:action="@{/currencystart/currency_unapprove_update}"  method="post" id="myForm">
                <div class="input-group">
                    <div class="">
                        <input th:value="${page}" id="page" type="hidden" name="page">
                        <input th:value="${Currency.id}" type="hidden" name="id">
                        <input th:value="rejected" type="hidden" name="status">
                        <!-- <label style="font-weight: bold;" for="confNote" class="form-label" >Give the Reason of Rejection</label>
                        <select name="confNote" class="form-control" id="confNote">
                            <option value="">---Reason of the Rejection----</option>
                            <option value="Found Mobile">Found Mobile</option>
                            <option value="Found Gold">Found Gold</option>
                            <option value="Found Illegal">Found Illegal</option>
                        </select> -->
                        <textarea name="confNote" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your comment" rows="2" style="width:100%;"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <button style="margin-top: 15px;" type="submit" class="btn btn-danger">Rejected</button>
                    </div>
                </div>
                <br><br><br>
            </form>
            </div>
        </div>
        
            <div  id="welcomeDiv"  style="display:none;">
                <div style="display:flex; justify-content: right; margin-right: 165px; margin-top: -95px;">
                <form th:action="@{/currencystart/currenc_approve_update}"  method="post" id="myForm">
                    <div class="input-group">
                        <input th:value="${page}" type="hidden" name="page">
                        <input th:value="${Currency.id}" type="hidden" name="id">
                        <input th:value="approved" type="hidden" name="status">
                        <textarea name="confNote" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your comment" rows="2" style="width:100%; display: none;"></textarea>
                        <p style="font-weight: bold;">Are you confirm ??</p>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">Approved</button>
                        </div>
                    </div>
                    <br><br><br>
                </form>
                </div>
            </div>
        
    </div>
  
</div>


<script>

function qrcode() {
          console.log("fahim");
          convertCurrencyToWords();
            // Get the current page's URL
            var currentURL = window.location.href;

            // Generate the QR code using an online service (qr.js)
            var qrCodeUrl = "https://api.qrserver.com/v1/create-qr-code/?data=" + encodeURIComponent(currentURL) + "&size=128x128";
            
            // Display the QR code image
            $("#qrcode").html('<img src="' + qrCodeUrl + '" alt="QR Code" />');
        };

    var a = ['','One ','Two ','Three ','Four ', 'Five ','Six ','Seven ','Eight ','Nine ','Ten ','Eleven ','Twelve ','Thirteen ','Fourteen ','Fifteen ','Sixteen ','Seventeen ','Eighteen ','Nineteen '];
    var b = ['', '', 'Twenty','Thirty','Forty','Fifty', 'Sixty','Seventy','Eighty','Ninety'];

    function inWords (num) {

    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return; var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'Crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'Lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'Thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'Hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
    
    return str;
}
function convertCurrencyToWords() {
    const currencyAmounts = document.querySelectorAll(".currency-amount");
    const currencyWords = document.querySelectorAll(".currency-words");

    currencyAmounts.forEach((amount, index) => {
        const amountValue = parseInt(amount.textContent);
        const words = inWords(amountValue);
        currencyWords[index].textContent = words;
    });
}
function showDiv1() {
        document.getElementById('welcomeDiv1').style.display = "block";
        var reject_button = document.getElementById("toggleButton1");
        var approved_button = document.getElementById("toggleButton");
        reject_button.style.display = "none";
        approved_button.style.display = "none";

    }

	function showDiv() {
        document.getElementById('welcomeDiv').style.display = "block";

        var button = document.getElementById("toggleButton");
        button.style.display = "none";
        var reject_button = document.getElementById("toggleButton1");
        var approved_button = document.getElementById("toggleButton");
        reject_button.style.display = "none";
        approved_button.style.display = "none";
    }
    function showDiv170(){

        window.location.href="/currencystart/currency-edit-admin?id="+document.getElementById("currencyid").value;
    }
    
    
    function custom_print(){
        console.log("========================print-button")
    document.getElementById('print_id').style.display='none';
        window.print();
        document.getElementById('print_id').style.display='';
         
    }
        function printPage() {

        var printButtons = document.querySelectorAll(".print-button");
        
        for (var i = 0; i < printButtons.length; i++) {
            printButtons[i].style.display = "none";
        }

          // Add an event listener for the afterprint event
          window.addEventListener('afterprint', function () {
            // Show the print buttons when the print dialog is closed
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = "block";
                console.log("==========="+printButtons[i]);
            }
        // document.getElementById('toggleButton1').style.display = "block";
        // document.getElementById('toggleButton').style.display = "block";
        });

        // Print the content of the page
        window.print();
    }
    function redirectToHomePage() {
            
            // Get the id value from the hidden input field
            var id = document.getElementById("go_back").value;
            var url = "http://localhost:8080/currencystart/show";
            window.location.href = url;
        }

        window.onload = qrcode;
        
</script> 

<div th:replace="~{layout/footer}"></div>