<div th:replace="~{layout/support}"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet" >

<style>
    .sr-main-content-heading {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      color: #48465b;
      margin-bottom: 20px;
      text-align: center;
    }
</style>

<!-- <span id="print_id" >
    <a href="/dashboard"><input type="button" class="btn btn-success btn-sm" value="Go Back" id="go_back" style="margin: 20px !important;"></a>
</span> -->
<div class="sr-main-content-heading">
    <i class="fa fa-server" style="padding-right: 10px"></i>Approved
    Currency Application
  </div>
<table id="example" class="table table-striped " style="zoom: 70%;">
    <thead>
        <tr>
            <th>sl</th>
            <th>Name</th>
            <th>Passport Number</th>
            <th>Passport Issue Date</th>
            <th>Passport Issue Place</th>
            <th>Nationality</th>
            <th>Date Of Arrival</th>
            <th>Status</th>
            <th>Flight No</th>
            <th>Address In Bangladesh</th>
            <th>Stay Time Abroad</th>
            <th>Email</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody >

        <tr th:each="show,sl : ${approveCurrency}" th:object="${'approveCurrency'}">
            
            <td th:text="${sl.count}"></td>
            <td th:text="${show.passengerName}"></td>
            <td th:text="${show.passportNumber}"></td>
            <td th:text="${show.passportIssueDate}"></td>
            <td th:text="${show.passportIssuePlace}"></td>
            <td th:text="${show.nationality}"></td>
            <td th:text="${show.dateOfArrival}"></td>
            <td th:text="${show.status}"></td>
            <td th:text="${show.flightNo}"></td>
            <td th:text="${show.addressInBangladesh}"></td>
            <td th:text="${show.stayTimeAbroad}"></td>
            <td th:text="${show.email}"></td>

            <td >
                <a th:href="@{/currencystart/show-currency-details(id=${show.id}, page='currencyApprove')}">View Application</a>

            </td>
        </tr>



 
    </tbody>
    <tfoot>
        <tr>
            <th>sl</th>
            <th>Name</th>
            <th>Passport Number</th>
            <th>Passport Issue Date</th>
            <th>Passport Issue Place</th>
            <th>Nationality</th>
            <th>Date Of Arrival</th>
            <th>Profession</th>
            <th>Flight No</th>
            <th>Address In Bangladesh</th>
            <th>Stay Time Abroad</th>
            <th>Email</th>
            <td style="font-weight: bold;">Action</td>
        </tr>
    </tfoot>
</table>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js'></script>


<script>
    $(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );

</script>