<div th:replace="~{layout/header}"></div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="fw-bold italic">Welcome back Online Baggage Declaration Dashboard</h1>
    </div>
    <div class="card-body">
     
    </div>
  </div>
  <style>
    .card-category {
      font-size: 13px;

    }
    .card-icon {
      border-radius: 3px;
      background-color: #daffdae0;
      padding: 15px;
      margin-top: -20px;
      margin-right: 15px;
      float: left;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.custom-card {
                height: 100%; /* Set a fixed height for all cards */
                box-sizing: border-box; /* Include padding and border in the height */
            }
  </style>


  <div class="container mt-5">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 custom-card">
        <div class="card card-stats mb-5" >
          <a target="_blank"
            href="/baggageshow/baggagetotal"
            class="card-link custom-card"
          >
            <div
              class="card-header card-header-info"
              style="background: linear-gradient(60deg, #26c6da, #00acc1); height: 130px;"
            >
              <div class="card-icon">
                <i class="fa-solid fa-2x  fa-person-walking-luggage"></i>
              </div>
              <p class="card-category fs-2 " style="color: #ffffff">
                Total Baggage Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="totalShowApplication">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- Add your stats information here -->
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Repeat the structure for the remaining cards -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a target="_blank"
            href="/baggagestart/approve-baggage-list"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #2bb652;height: 130px;"
            >
              <div class="card-icon">
                <i class="fa-solid fa-2x  fa-person-walking-luggage"></i>
              </div>
              <p class="card-category  fs-2 "  style="color: #ffffff">
                Total Approved Baggage Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="totalBaggageapproveapplication">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- Add your stats information here -->
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Repeat the structure for the remaining cards -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a target="_blank"
            href="/baggageshow/unapprovedbaggagetotal"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #ffcb08;height: 130px;"
            >
              <div class="card-icon">
                <i class="fa-solid fa-2x fa-person-walking-luggage"></i>
              </div>
              <p class="card-category  fs-2 " style="color: #ffffff">
                Total Unapproved Baggage Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="totalBaggageUnapprove">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- Add your stats information here -->
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Repeat the structure for the remaining cards -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a target="_blank"
            href="/currencystart/total-currency-application"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: linear-gradient(60deg, #26c6da, #00acc1)"
            >
              <div class="card-icon">
                <i class="fas fa-donate fa-2x "></i>
              </div>
              <p class="card-category" style="color: #ffffff">
                Total Currency Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="Currencyallcheckedstatuscount">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                
              </div>
            </div>
          </a>
        </div>
      </div>

     
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a
            href="/currencystart/approve-currency"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #2bb652"
            >
              <div class="card-icon">
                <i class="fas fa-2x  fa-donate "></i>
              </div>
              <p class="card-category" style="color: #ffffff">
                Total Approved Currency Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="Currencycheckedstatuscount">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                
              </div>
            </div>
          </a>
        </div>
      </div>

      
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a
            href="currencystart/unapprove-currency"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #ffcb08"
            >
              <div class="card-icon">
                <i class="fas fa-2x  fa-donate"></i>
              </div>
              <p class="card-category" style="color: #ffffff">
                Total Unapproved Currency Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="uncheckedstatuscount">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                
              </div>
            </div>
          </a>
        </div>
      </div> -->

      <!-- Repeat the structure for the remaining cards -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a
            href="/baggagestart/rejected-baggage-list"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #ed1c24"
            >
              <div class="card-icon">
                <i class="fa-solid fa-2x  fa-person-walking-luggage"></i>
              </div>
              <p class="card-category fs-2" style="color: #ffffff">
                Total Rejected Baggage Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="totalRejectBaggage">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                
              </div>
              
            </div>
          </a>
        </div>
      </div> -->

      <!-- Repeat the structure for the remaining cards -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats mb-5">
          <a
            href="currencystart/reject-currency"
            class="card-link"
          >
            <div
              class="card-header card-header-info"
              style="background: #ed1c24"
            >
              <div class="card-icon">
                <i class="fas fa-2x  fa-donate"></i>
              </div>
              <p class="card-category  fs-2" style="color: #ffffff">
                Total Rejected Currency Application
              </p>
              <h3 class="card-title" style="color: #ffffff" id="rejectedCurrencystatuscount">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
              </div>
            </div>
          </a>
        </div>
      </div> -->

      <!-- Repeat the structure for the remaining cards -->
    </div>
  </div>
</div>
<div th:replace="~{layout/footer}"></div>
