<div th:replace="~{layout/support}"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet" >
  <style>
    .sr-main-content {
      background-color: #ededf4;
      font-family: Roboto, Helvetica, sans-serif !important;
    }
    .sr-main-content-padding {
      background: white;
      padding: 10px 20px;
      border: 1px solid #e6e9ed;
      border-radius: 5px;
    }
    .sr-main-content-heading {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      color: #48465b;
    }
    .fa,
    .fas {
      font-weight: 900;
    }
  </style>
  <body>
    <span id="print_id" >
      <a href="/dashboard"><input type="button" class="btn btn-success btn-sm" value="Go Back" id="go_back" style="margin: 20px !important;"></a>
  </span>
    <div class="sr-main-content-padding">
      <div class="sr-main-content-heading">
        <i class="fa fa-server" style="padding-right: 10px"></i>Unapproved
        Currency Application
      </div>
      <div class="form-container_large">
        <form action="" method="post" name="codz" id="codz">
          <table width="80%" border="0" align="center">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td colspan="3">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="right" bgcolor="#FF9966">
                  <strong>Date Interval :</strong>
                </td>
                <td width="1" bgcolor="#FF9966">
                  <strong>
                    <input
                      type="text"
                      name="fdate"
                      id="fdate"
                      style="width: 110px"
                      value="2023-9-26"
                      class="hasDatepicker"
                    />
                  </strong>
                </td>
                <td align="center" bgcolor="#FF9966">
                  <strong> -to- </strong>
                </td>
                <td width="1" bgcolor="#FF9966">
                  <strong>
                    <input
                      type="text"
                      name="tdate"
                      id="tdate"
                      style="width: 110px"
                      value="2023-10-11"
                      class="hasDatepicker"
                    />
                  </strong>
                </td>
                <td bgcolor="#FF9966">
                  <strong>
                    <input
                      type="submit"
                      name="submitit"
                      id="submitit"
                      value="VIEW DETAIL"
                      style="
                        width: 120px;
                        font-weight: bold;
                        font-size: 12px;
                        height: 30px;
                        color: #090;
                      "
                    />
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    <table id="example" class="table table-striped " style="zoom: 70%;">
        <thead>
            <tr>
                <th>sl</th>
                <th>Name</th>
                <th>Passport Issue Date</th>
                <th>Passport Issue Place</th>
                <th>Nationality</th>
                <th>Date Of Arrival</th>
                <th>Profession</th>
                <th>Flight No</th>
                <th>Address In Bangladesh</th>
                <th>Stay Time Abroad</th>
                <th>Email</th>
    
                <td>Action</td>
    
            </tr>
        </thead>
        <tbody >
    
            <tr th:each="show,sl : ${unapproveCurrency}" th:object="${'unapproveCurrency'}">
                
                <td th:text="${sl.count}"></td>
                <td th:text="${show.passengerName}"></td>
                <td th:text="${show.passportNumber}"></td>
                <td th:text="${show.passportIssueDate}"></td>
                <td th:text="${show.nationality}"></td>
                <td th:text="${show.dateOfArrival}"></td>
                <td th:text="${show.profession}"></td>
    
    
    
                <td th:text="${show.flightNo}"></td>
                <td th:text="${show.addressInBangladesh}"></td>
                <td th:text="${show.stayTimeAbroad}"></td>
                <td th:text="${show.email}"></td>
    
                <td >
                    <a th:href="@{/currencystart/show-currency-details(id=${show.id})}">View Application</a>
    
                </td>
            </tr>
    
    
    
     
        </tbody>
        <tfoot>
            <tr>
                <th>sl</th>
                <th>Name</th>
                <th>Passport Issue Date</th>
                <th>Passport Issue Place</th>
                <th>Nationality</th>
                <th>Date Of Arrival</th>
                <th>Profession</th>
                <th>Flight No</th>
                <th>Address In Bangladesh</th>
                <th>Stay Time Abroad</th>
                <th>Email</th>
                <td>Action</td>
            </tr>
        </tfoot>
    </table>
    <script src='https://code.jquery.com/jquery-3.7.0.js'></script>
    <script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
    <script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js'></script>
    
    
    <script>
        $(document).ready(function() {
        var table = $('#example').DataTable( {
            lengthChange: false,
            // buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
        } );
     
        table.buttons().container()
            .appendTo( '#example_wrapper .col-md-6:eq(0)' );
    } );
    
    </script>