
<div th:replace="~{layout/header}"></div>
    <title>Port Create</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <style>
        .sr-main-content {
            background-color: #ededf4;
            font-family: Roboto, Helvetica, sans-serif !important;
        }
        .sr-main-content-padding {
            background: white;
            padding: 10px 20px;
            border: 1px solid #e6e9ed;
            border-radius: 5px;
        }
        .sr-main-content-heading {
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-weight: 500;
            color: #555369;
        }
        .fa, .fas {
            font-weight: 900;
        }
        #example thead {
            background-color: #49be78;
            color: white;
        }


        .center-btn {
            display: flex;
            justify-content: center;
        }
        /* Adjust the button width as needed */
        .custom-btn {
            width: 150px; /* Change the width as desired */
        }
    </style>
</head>
<body>
<div class="sr-main-content-padding">
    <div class="sr-main-content-heading">
        <i class="fa fa-plane" style="padding-right: 10px"></i>Port Update
    </div>
    <div class="container">
        <form th:action="@{/update-port}" method="post" enctype="multipart/form-data">
            <div class="mb-3 row">
                <label for="airPortNames" class="col-sm-2 col-form-label">Airport Names:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="hidden" id="id" name="id" th:value="${airport.id}">
                    <input type="text" class="form-control" id="airPortNames" name="airPortNames" th:value="${airport.airPortNames}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="officeCode" class="col-sm-2 col-form-label">Office Code:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="officeCode" name="officeCode" th:value="${airport.officeCode}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="image" class="col-sm-2 col-form-label">Banner:</label>
                <div class="col-sm-4">
                    <input type="file" class="form-control" id="image" name="image">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-6 center-btn">
                    <button type="submit" class="btn btn-warning custom-btn">Update</button>
                </div>
            </div>
        </form>

    </div>
















</div>


