<div th:replace="~{layout/privilage/pvtheader}"></div>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" > -->
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet" >

<style>
    .sr-main-content-heading {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      color: #48465b;
      margin-bottom: 20px;
      text-align: center;
    }
</style>


<div class="sr-main-content-heading">
    <i class="fa fa-server" style="padding-right: 10px"></i>Privileged Vehicle Tracking
  </div>
<table id="example" class="table table-striped " style="zoom: 85%;">
    <thead>
        <tr>

            <th>Bill Entry No</th>
            <th>Barcode</th>
            <th>Bill Entry Date</th>
            <th>CC</th>
            <th>Chasis No</th>
            <th>CPB Validity</th>
            <th>CPB Holder Name/Org.use</th>
            <th>Custom House</th>
            <th>Engine No</th>
            <th>Org Name</th>
            <th>Pass Book No</th>
            <th>Remarks</th>
            <th>Vehicle Name</th>
            <th>Vehicle Reg No</th>
            <th>Year of Manufacture</th>
            <th>Action</th>
            <!-- Include other fields similarly -->
        </tr>
    </thead>
    <tbody >

        <tr th:each="pvtInfo : ${allPvt}">

            <td th:text="${pvtInfo.billEntryNo}"></td>
             <td th:text="${pvtInfo.barcode}"></td>
            <td th:text="${pvtInfo.billEntryDate}"></td>
            <td th:text="${pvtInfo.cc}"></td>
            <td th:text="${pvtInfo.chasisNo}"></td>
            <td th:text="${pvtInfo.cpbValidity}"></td>
            <td th:text="${pvtInfo.cpbHolder}"></td>
             <td th:text="${pvtInfo.customHosue}"></td>
            <td th:text="${pvtInfo.engNo}"></td>
            <td th:text="${pvtInfo.orgName}"></td>
            <td th:text="${pvtInfo.passBookNo}"></td>
            <td th:text="${pvtInfo.remarks}"></td>
            <td th:text="${pvtInfo.vehicleName}"></td>
            <td th:text="${pvtInfo.vehicleRegNo}"></td>
            <td th:text="${pvtInfo.yrOfManf}"></td>
            <td >
                <div class="d-flex">
                   <a th:href="@{/pvt/edit-pvt(id=${pvtInfo.id})}" class="btn btn-primary" style="margin-right: 5px;"><i class="fa fa-edit"></i></a>
                   <a th:href="@{/pvt/delete-pvt(id=${pvtInfo.id})}" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </div>
            </td> 
            <!-- Include other fields similarly -->
        </tr>



 
    </tbody>
    <tfoot>
        <tr>

            <th>Bill Entry No</th>
            <th>Barcode</th>
            <th>Bill Entry Date</th>
            <th>CC</th>
            <th>Chasis No</th>
            <th>CPB Validity</th>
            <th>CPB Holder Name/Org.use</th>
            <th>Custom House</th>
            <th>Engine No</th>
            <th>Org Name</th>
            <th>Pass Book No</th>
            <th>Remarks</th>
            <th>Vehicle Name</th>
            <th>Vehicle Reg No</th>
            <th>Year of Manufacture</th>
            <th>Action</th>
            <!-- Include other fields similarly -->
        </tr>
    </tfoot>
</table>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js'></script>


<script>
    $(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );

</script>
