<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div th:replace="~{layout/support}"></div>

<style>

  .oe_slide.oe_website_builder_slide {
    background-color: #f0f0f0;
    background: url(/img/image/slide1.png) !important;
    color: #404040;
  }

  .oe_slide.oe_home_slide {
    background-color: #f0f0f0;
    background: url(/img/image/slide2.png) !important;
    color: #404040;
  }
  .button {
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: "Open Sans", "Helvetica", Sans;
    font-weight: 300;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.dropdown-menu a {
    color:  black !important ;
    text-decoration: none !important;

}



  /* Additional styles can be added here */
</style>

<body class="oe_styling_v8">
  <div class="oe_website_contents">
    <!-- <header class="oe_website_header">
      <div class="oe_row oe_fit">
        <div align="center" style="float:left"><img class="oe_logo_img" alt="SajeebERP: Open Source Business" src="/img/image/main_logo.png" style="width: 570px;"></div>
        <div align="center" style="float:right"><img src="/img/logo/nbr.png" style="width: 300px; height: 100px;"></div>
      </div>
    </header>  -->
    
      <div class="container mb-3 mt-2 ">
        <div class="row d-flex  gap-2">
          <div class="col-7 " ><img class="img-fluid ml-5" alt="SajeebERP: Open Source Business" src="/img/image/main_logo.png" ></div>  
          <div class="col-4 "><img  class="img-fluid ml-4 mt-4 rounded" src="/img/logo/nbr.png" ></div>
        </div>
      </div>
  

    <section class="oe_hero oe_home_hero oe_container">
      <div class="oe_slider">
        <a href="/img/image/slide2.png">
          <div class="oe_slide oe_home_slide oe_invisible"></div>
        </a>
        <a href="/img/image/slide1.png">
          <div class="oe_slide oe_website_builder_slide"></div>
        </a>
      </div>
      <span class="oe_slider_arrow oe_left"
        ><i class="icon-chevron-left"></i
      ></span>
      <span class="oe_slider_arrow oe_right"
        ><i class="icon-chevron-right"></i
      ></span>
      <script>
        // Your JavaScript code here
        $(function () {
          var cur_slide = 0;
          var slides = $(".oe_hero .oe_slider .oe_slide");
          var slide_interval = null;

          slides.each(function (index) {
            if (index === cur_slide) {
              $(this).removeClass("oe_invisible");
            } else {
              $(this).addClass("oe_invisible");
            }
          });

          function show_slide(index) {
            index = index % slides.length;
            index = index < 0 ? slides.length + index : index;

            var $cur = $(slides.get(cur_slide));
            var $nxt = $(slides.get(index));

            $nxt.removeClass("oe_invisible");
            if (cur_slide !== index) {
              $cur.addClass("oe_invisible");
            }
            cur_slide = index;
            slideshow();
          }

          $(".oe_slider_arrow.oe_left").click(function () {
            show_slide(cur_slide - 1);
          });

          $(".oe_slider_arrow.oe_right").click(function () {
            show_slide(cur_slide + 1);
          });

          // (re)starts the slideshow with 10000 secs between slides
          function slideshow() {
            clearInterval(slide_interval);
            slide_interval = setInterval(function () {
              show_slide(cur_slide + 1);
            }, 10000);
          }
          // prevent the slide to disappear just as the user wants to click it
          $(".oe_slider").mouseover(function () {
            slideshow();
          });
          slideshow();
        });
      </script>
    </section>

    <article >
      <section class="oe_hero oe_home_hero oe_container">
        <div style="text-align: center; margin: 15px">
          <div>
            <a href=""
              ><button type="button" class="btn btn-danger button">
                NBR At a glance
              </button></a
            >
          </div>
        </div>
        <h4 class="oe_slogan">Choose Your Office</h4>

        <div class="container" style="text-align: center">
          <div class="row">
            <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle button"
                  data-toggle="dropdown"
                >
                  VAT Office
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://bcom.gov.bd/jashore_vat/home/index.php">Customs Excise & VAT Commissionerate, Jashore</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs, Excise & VAT Commissionerate, Dhaka (South)</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs, Excise & VAT Commissionerate, Dhaka (North)</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Dhaka (West)</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Dhaka (East)</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Chittagong</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Cumilla</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Sylhet</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Rajshahi</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Rangpur</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Excise & VAT Commissionerate, Khulna</a>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle button"
                  data-toggle="dropdown"
                >
                  Custom House
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://bcom.gov.bd/benapole/home/index.php">Custom House, Benapole</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/chittagong/home/index.php">Custom House, Chattogram</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Custom House, Dhaka</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Custom House, ICD</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Custom House, Pangaon</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Custom House, Mongla</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/sonamasjid/home/index.php">Panama Sonamasjid Port Link LTD</a>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle button"
                  data-toggle="dropdown"
                >
                  Other Offices
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://bcom.gov.bd/DHAKA_BOND/home/index.php">Customs Bond Commissionerate, Dhaka</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/demo/home/index.php">Customs Bond Commissionerate, Chittagong</a>
                    <a class="dropdown-item" href="http://bcom.gov.bd/LTU/home/index.php">Large Taxpayers Unit, VAT</a>
                </div>
                
              </div>
            </div>
            <!-- <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-success dropdown-toggle button"
                  data-toggle="dropdown"
                >
                 NBR Internal
                </button>
                <div class="dropdown-menu" th:each="show : ${allAirportList}" th:object="${'allAirportList'}">
                  <a th:each="airport : ${allAirportList}" th:if="${airport.airPortNames != 'all'}"  class="dropdown-item" 
                       th:href="@{'/index1?officeCode=' + ${airport.officeCode}}">
                      <span th:text="${airport.airPortNames}"></span>
                  </a>
                </div>

              </div>
            </div> -->



            <div class="col">
              <div class="btn-group">
                <a th:href="@{'/index1'}">
                <button
                  type="button"
                  class="btn btn-success button"
                >
                  NBR Internal
                </button>
              </a>

                
              </div>
            </div>
            <!-- <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-success dropdown-toggle button"
                  data-toggle="dropdown"
                >
                 NBR Online Baggage Form
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" th:href="@{'baggagestart/show'}">Baggage Application Form</a>
                  <a class="dropdown-item" href="/baggage-search">Baggage Search</a>
              </div>

              </div>
            </div> -->
            <!-- <div class="col">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-success dropdown-toggle button"
                  data-toggle="dropdown"
                >
                 NBR Online Baggage Form
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" th:href="@{'baggagestart/show'}">Baggage Application Form</a>
                  <a class="dropdown-item" href="/baggage-search">Baggage Search</a>
              </div>

              </div>
            </div> -->

          </div>
        </div>




        <div>

            <a href="https://www.youtube.com/watch?v=v1R-CB3e-pw"><img src="/img/image/new.jpg" alt="Pm Image for Corona Virus instruction" style="width:100%;"></a>
            </div>
      </section>
    </article>

    <article class="oe_page">
        <section class="oe_container">
          <div class="row text-center"> 
            <h3 style="margin-top: 50px; font-size:23px;">
              An Innovation of
              <span style="color:rgb(230, 46, 122); font-weight: bold"
                >Dr. Md. Neyamul Islam</span
              >
              and
              <span style="color:rgb(0, 183, 255); font-weight: bold"
                >ICT Team</span
              >
            </h3>
          </div>
          <div class="oe_row oe_centeralign oe_more_spaced">
            <a
              id="app-bottom"
              href="http://www.erp.com.bd"
              class="ab_footer_freetrial oe_button oe_big" style="margin-top: -50px;"
              >Powered By <span class="oe_emph">ERP.COM.BD</span></a>
          </div>
        </section>
      </article>
  </div>

  <div th:replace="~{layout/footer}"></div>
</body>
