<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div th:replace="~{layout/support}"></div>

<style>
    /* Your CSS styles here */
    .dropdown-menu.pull-right {
        right: 23px !important;
        left: auto;
    }

    .oe_slide.oe_website_builder_slide {
        background-color: #f0f0f0;
        background: url(/img/image/slide1.png) !important;
        color: #404040;
    }

    .oe_slide.oe_home_slide {
        background-color: #f0f0f0;
        background: url(/img/image/slide2.png) !important;
        color: #404040;
    }

    /* Additional styles can be added here */
</style>

<body class="oe_styling_v8">
    <div class="oe_website_contents">
        <header class="oe_website_header">
            <div class="oe_row oe_fit">
                <div align="center" style="float:left"><img src="/img/image/main_logo.png" width="500" height="110"></div>
                <div align="center" style="float:right"><img class="oe_logo_img" alt="SajeebERP: Open Source Business" src="/img/image/bangladesh.png" height="110px;"></div>
            </div>
        </header>




        <section class="oe_hero oe_home_hero oe_container" th:if="${airport.officeCode == null or #strings.isEmpty(airport.officeCode)} or airport.officeCode == '' ">
            <div class="oe_slider">
                <a href="/img/image/slide1.png">
                    <div class="oe_slide oe_website_builder_slide text-lg-center">
                        <span class="d-flex align-items-center text-lg-center" style="margin-top: 50px; color:honeydew; font-weight: bold; font-size: 40;" th:text="${airport.airPortNames}"></span>
                    </div>
                </a>
                <a href="/img/image/slide2.png">
                    <div class="oe_slide oe_home_slide ">
                        <span class="d-flex align-items-center text-lg-center" style="margin-top: 50px; color:honeydew; font-weight: bold; font-size: 40;" th:text="${airport.airPortNames}"></span>
                    </div>
                </a>
            </div>
            <span class="oe_slider_arrow oe_left"><i class="icon-chevron-left"></i></span>
            <span class="oe_slider_arrow oe_right"><i class="icon-chevron-right"></i></span>
            <script>
                // Your JavaScript code here
                $(function () {
                    var cur_slide = 0;
                    var slides = $('.oe_hero .oe_slider .oe_slide');
                    var slide_interval = null;

                    slides.each(function (index) {
                        if (index === cur_slide) {
                            $(this).removeClass('oe_invisible');
                        } else {
                            $(this).addClass('oe_invisible');
                        }
                    });

                    function show_slide(index) {
                        index = index % slides.length;
                        index = index < 0 ? slides.length + index : index;

                        var $cur = $(slides.get(cur_slide));
                        var $nxt = $(slides.get(index));

                        $nxt.removeClass('oe_invisible');
                        if (cur_slide !== index) {
                            $cur.addClass('oe_invisible');
                        }
                        cur_slide = index;
                        slideshow();
                    }

                    $('.oe_slider_arrow.oe_left').click(function () {
                        show_slide(cur_slide - 1);
                    });

                    $('.oe_slider_arrow.oe_right').click(function () {
                        show_slide(cur_slide + 1);
                    });

                    // (re)starts the slideshow with 10000 secs between slides
                    function slideshow() {
                        clearInterval(slide_interval);
                        slide_interval = setInterval(function () {
                            show_slide(cur_slide + 1);
                        }, 10000);
                    }
                    // prevent the slide to disappear just as the user wants to click it
                    $('.oe_slider').mouseover(function () {
                        slideshow();
                    });
                    slideshow();
                });
            </script>
        </section>
        <section class="oe_hero oe_home_hero oe_container" th:unless="${airport.officeCode == null or #strings.isEmpty(airport.officeCode)}">
            <!-- Content when officeCode is not null -->
            <!-- ... -->
            
            <img alt="" th:src="@{'img/'+${airport.image}}" style="height: 245px; width: 992px;">
            <!-- ... --> 
        <article class="oe_page">
            <section class="oe_container">
                <h4 class="oe_slogan">Choose Your Department</h4>
                <div class="oe_row oe_appstore">

                    <a href="#" title="Privileged Vehicle Tracking" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/truck.jpg">
                            </div>
                        </div>
                        <div class="oe_app_name">Privileged Vehicle Tracking</div>
                        <div class="oe_app_descr">
                            Privileged Vehicle Tracking
                        </div>
                    </a>
                    <a href="/dashboard" title="Baggage Module & Currency Module (Admin)" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/baggage.png">
                            </div>
                        </div>
                        <div class="oe_app_name">Baggage Module & Currency Module (Admin)</div>
                        <div class="oe_app_descr">
                            
                        </div>
                    </a>
                    <a  th:href="@{'baggagestart/show?officeCode=' + ${airport.officeCode}}" title="Baggage Module (General User)" class="oe_app ab_app_descr">
                       
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/baggage.png">
                            </div>
                        </div>
                        <div class ="oe_app_name">Baggage Module (General User)</div>
                        <div class="oe_app_descr">
                            Baggage Module
                        </div>
                    </a>
                    <a href="currencystart/show" title="Currency Declaration Module" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/currency.png">
                            </div>
                        </div>
                        <div class="oe_app_name">Currency Declaration (General User)</div>
                        <div class="oe_app_descr">
                            Currency Declaration
                        </div>
                    </a>
                    <a href="../prevper_mod/pages/main/index.php" title="Privileged Person Module" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/prev_car.jpg" style="width:100%;">
                            </div>
                        </div>
                        <div class="oe_app_name">Privileged Person Module</div>
                        <div class="oe_app_descr">
                            Custom Passbook Application, Car Transfer
                        </div>
                    </a>
                    <a href="../case_manage_nbr/pages/main/index.php" title="Case Management Module" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/case.jpg" style="width:100%;">
                            </div>
                        </div>
                        <div class="oe_app_name">Case Management Module (NBR)</div>
                        <div class="oe_app_descr">
                            Case Management, Writ Case
                        </div>
                    </a>
                    <a href="../conference_hall_mod/pages/main/index.php" title="Conference Hall Booking Module" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/conference.jpg" style="width:100%;">
                            </div>
                        </div>
                        <div class="oe_app_name">Conference Hall Booking Module</div>
                        <div class="oe_app_descr">
                            Conference Hall Booking Application, Approval
                        </div>
                    </a>
                    <a href="../project_mod/pages/main/index.php" title="Project Module" class="oe_app ab_app_descr">
                        <div class="ab_app_descr">
                            <div class="oe_app_icon">
                                <img src="/img/image/project.png" style="width:100%;">
                            </div>
                        </div>
                        <div class="oe_app_name">Project Module</div>
                        <div class="oe_app_descr">
                            Project Module
                        </div>
                    </a>
                </div>
            </section>
            <section class="oe_container">
                <div class="row text-center">
                    <h3>An Innovation of <span style="color:red;font-weight:bold;">Dr. Md. Neyamul Islam</span> and <span style="color:red;font-weight:bold;"><a href="team_info.php">ICT Team</a></span>, NBR.</h3>
                </div>
                <div class="oe_row oe_centeralign oe_more_spaced">
                    <a id="app-bottom" href="http://www.erp.com.bd" class="ab_footer_freetrial oe_button oe_big">Powered By <span class="oe_emph">ERP.COM.BD</span></a>
                </div>
            </section>
        </article>
        
    </article>
    </div>

<div th:replace="~{layout/footer}"></div>