
<!DOCTYPE hrml>

<html>

	<head>

		<title>Privileged Person Module</title>
<link rel="icon" href="/benapole/assets/template/favicon.png" sizes="32x32" type="image/png">
		<meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>

	

	<body style="font-family: 'Bangla', sans-serif;">




	<div class="container">
		<form action="" method="post">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8"><h2 style="text-align:center;font-weight:bold;"><u>Customs Passbook Application</u></h2></div>
		<div class="col-md-2"></div>
	</div>
	
	<table class="table"   border="0" style="margin:0 auto;width:1100px;" >
		<tbody style="font-size:20px;">
		<tr>
		<td style="  border:0px;font-weight:bold;">Name of Institute/Organization</td><td style="  border:0px;"  ><span th:text="${ppmById.organization}"></span></td>
		
		</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;"> Reference No & Date of Institute/Organization</td><td style="  border:0px;"  ><span th:text="${ppmById.orgRefNo} "></span> &nbsp; <span th:text="${ppmById.orgRefDate}"></span></td>
	</tr>

	<tr>
		<td style="border:0px;font-weight:bold;"> Name Of Ministry </td><td style="  border:0px;color:red;font-weight:bold;"  ><span th:text="${ppmById.ministry} "></span></td>
	</tr>

	<tr>
		<td style=" border:0px;font-weight:bold;">Reference No & Date of Ministry</td><td style="  border:0px;"  ><span th:text="${ppmById.ministryRefNo} "></span> &nbsp; <span th:text="${ppmById.ministryRefDate}"></td>

	</tr>

	<tr>
		<td style="border:0px;font-weight:bold;">Applicant Name</td><td style="  border:0px;color:green;font-weight:bold;"  ><span th:text="${ppmById.applicantName} "></span></td>

	</tr>

	
	<tr>
		<td style=" border:0px;font-weight:bold;">Designation</td><td style="  border:0px;"  ><span th:text="${ppmById.designation} "></span></td>
		
	</tr>

	<tr>
		<td style="border:0px;font-weight:bold;">Passport No</td><td style="border:0px;" ><span th:text="${ppmById.passportNo} "></span></td>
		
	</tr>
	<tr>
	
		<td style="  border:0px;font-weight:bold;">Duration</td><td style="border:0px;" ><span th:text="${ppmById.passDuration} "></span></td>
	
	</tr>


	<tr>
	<td style="  border:0px;font-weight:bold;" >UNLP No</td><td style="  border:0px;"  ><span th:text="${ppmById.unlpNo} "></span></td>
		
	</tr>
		<tr>
			<td style="border:0px;font-weight:bold;"  >UNLP Duration</td><td style="   border:0px;"> <span th:text="${ppmById.unlpDuration}"></span></td>
	
		</tr>
	
	<tr>
		<td style=" border:0px;font-weight:bold;">Visa No</td>
		<td style="  border:0px;"> <span th:text="${ppmById.visaNo}"></span></td>
	
	</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;">Visa Duration</td>
		<td style="  border:0px;"> <span th:text="${ppmById.visaDuration}"></span></td>
	
	</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;">First Arrival Date</td>
		<td style="  border:0px;"> <span th:text="${ppmById.firstArrivalDate}"></span></td>
	
	</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;">Work Duration</td>
		<td style="  border:0px;"> <span th:text="${ppmById.workDuration}"></span></td>
	
	</tr>
		<tr>
		
		<td style=" text-align: center;background: #62d5a0;border:0px;font-weight:bold;" colspan="2">Contact Person Information</td>
	
	
	</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;">Name</td>
		<td style="  border:0px;"> <span th:text="${ppmById.contactPersonName}"></span></td>
	
	</tr>
	<tr>
		<td style=" border:0px;font-weight:bold;">Designation</td>
		<td style="  border:0px;"> <span th:text="${ppmById.conDesignation}"></span></td>
        </tr>
	
	</tr>
		<tr>
		<td style=" border:0px;font-weight:bold;">Mobile No</td>
		<td style="  border:0px;"> <span th:text="${ppmById.contMobileNo}"></span></td>
	</tr>
	</tr>
		<tr>
		<td style=" border:0px;font-weight:bold;">Phone No</td>
		<td style="  border:0px;"> <span th:text="${ppmById.conPhoneNo}"></span></td>
	
	</tr>

	</tbody>
	
	</table> <br>
	<hr>

	

	</form>

<div class="row">
<div class="col-md-12">
    <!-- <img th:src="${ppmInfo.uploadFile}" alt="Uploaded Image" width="100" height="100"> -->
<embed type="application/pdf" th:src="${ppmById.uploadFile}" width="100%" height="150%">
</div>
</div>

</div>
	</body>

</html>

 <script>

 //window.print();

 </script>