<div th:replace="~{layout/Privilage/pvtheader}"></div>
<style>
  .submit-btn {
    display: block;
    margin: 0 auto;
  }
</style>
<div class="container-fluid">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="text-warning">Privileged Vehicle Tracking</h1>
    </div>
    <div class="card-body">
      <form th:action="@{/pvt/insert-pvt}" method="post">
        <div class="container">
          <div class="row" >
            <div class="col-md-6" style="padding: 32px;">

              <div class="form-group">
                <label for="billEntryNo">Bill of Entry No.</label>
                <input type="text" class="form-control" id="billEntryNo" name="billEntryNo" placeholder="Enter B/E No" autocomplete="off" required>
              </div>

              <div class="form-group">
                <label for="billEntryDate">Bill of Entry Date</label>
                <input type="date" class="form-control" id="billEntryDate" name="billEntryDate" autocomplete="off" required>
              </div>

              <div class="form-group">
                <label for="orgName">Name of org.</label>
                <input type="text" class="form-control" id="orgName" name="orgName" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="passBookNo">Importer/Passbook Number</label>
                <input type="text" class="form-control" id="passBookNo" name="passBookNo" autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="cpb_validity">CPB Validity</label>
                <input type="text" class="form-control" id="cpbValidity" name="cpbValidity" placeholder="Enter CPB Validity" autocomplete="off" required>
            </div>
            
            <div class="form-group">
                <label for="cpbValidity">Name of CPB Holder /Org. use</label>
                <input type="text" class="form-control" id="cpbHolder" name="cpbHolder" autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="vehicleRegNo">Vehicle Reg. No.</label>
                <input type="text" class="form-control" id="vehicleRegNo" name="vehicleRegNo" autocomplete="off">
            </div>
            
            
              <!-- Add similar form groups for other fields -->

            </div>

            <div class="col-md-6" style="padding: 32px;">
              <span id="rajosso">
                <div class="form-group">
                  <label for="vehicleName">Vehicle Name</label>
                  <input type="text" class="form-control" id="vehicleName" name="vehicleName" autocomplete="off">
                </div>
              </span>

              <!-- Add similar form groups for other fields -->

              <div class="form-group">
                <label for="customHouse">Custom House</label>
                <select class="form-control" name="customHosue" id="customHosue" autocomplete="off">
                  <option value="">--Please Select--</option>
                  <option value="Custom House, Benapole">Custom House, Benapole</option>
                  <option value="Custom House, Chattogram">Custom House, Chattogram</option>
                  <option value="Custom House, Dhaka">Custom House, Dhaka</option>
                  <option value="Custom House, ICD">Custom House, ICD</option>
                  <option value="Custom House, Pangaon">Custom House, Pangaon</option>
                </select>
              </div>

              <div class="form-group">
                <label for="remarks">Remarks</label>
                <input type="text" class="form-control" id="remarks" name="remarks" required autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="cc">CC</label>
                <input type="text" class="form-control" id="cc" name="cc" autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="engNo">Engine No.</label>
                <input type="text" class="form-control" id="engNo" name="engNo" autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="chasisNo">Chasis No.</label>
                <input type="text" class="form-control" id="chasisNo" name="chasisNo" autocomplete="off">
            </div>
            
            <div class="form-group">
                <label for="yrOfManf">Year of Manufacturing</label>
                <input type="text" class="form-control" id="yrOfManf" name="yrOfManf" autocomplete="off">
            </div>


            </div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary submit-btn btn-lg" name="submit" id="submit" value="Submit">
      </form>
    </div>
  </div>
</div>


<div th:replace="~{layout/Privilage/pvtfooter}"></div>

    